/*.o
/lex.yy.*
/y.tab.*
sgoc

/*.jasm
/*.class

/javaaPortable/*.o
/javaaPortable/newlex
/javaaPortable/javaa.l
/javaaPortable/gram.h
/javaaPortable/javaa.tab.h
/javaaPortable/javaa.tab.c
/javaaPortable/lex.yy.c
/javaaPortable/lex.c
/javaaPortable/gram.c
/javaaPortable/javaa.output


